<div class="card">

    <!-- HEADER -->
    <div class="card-header">
        <div>
            <h3 class="card-title">
                <%= heroe.nombreSuperheroe %>
            </h3>
            <p class="card-text">
                <%= heroe.nombreReal %> · <%= heroe.edad %> años
            </p>
        </div>
    </div>

    <!-- INFO -->
    <div>

        <div class="card-date">
            <span class="text-muted">Planeta:</span>
            <span><%= heroe.planetaOrigen %></span>
        </div>

        <div class="card-date">
            <span class="text-muted">Debilidad:</span>
            <span><%= heroe.debilidad %></span>
        </div>

        <!-- PODERES -->
        <div class="card-date">
            <p class="text-muted">Poderes</p>
            <div class="tag-container">
                <% heroe.poderes.forEach(poder=> { %>
                    <span class="tag tag-blue">
                        <%= poder %>
                    </span>
                    <% }) %>
            </div>
        </div>

        <!-- ALIADOS -->
        <div>
            <p class="text-muted">Aliados</p>
            <div class="tag-container">
                <% heroe.aliados.forEach(aliado=> { %>
                    <span class="tag tag-green">
                        <%= aliado %>
                    </span>
                    <% }) %>
            </div>
        </div>

        <!-- ENEMIGOS -->
        <div >
            <p class="text-muted">Enemigos</p>
            <div class="tag-container">
                <% heroe.enemigos.forEach(enemigo=> { %>
                    <span class="tag tag-red">
                        <%= enemigo %>
                    </span>
                    <% }) %>
            </div>
        </div>

        <div>
            <span class="text-muted">Creador:</span>
            <span><%= heroe.creador %></span>
        </div>
    </div>

    <!-- ACTIONS -->
    <div class="btn-row">
        <a href="/api/heroes/<%= heroe._id %>/editar" class="btn btn-cards btn-primary">
            Editar
        </a>
        <button onclick="eliminarSuperheroe('<%= heroe.id %>')" type="submit" class="btn btn-cards btn-danger">
            Eliminar
        </button>
    </div>

</div>
