<div class="card">
    <!-- Encabezado card -->
    <div class="flex items-center justify-between mb-4">
        <div>
            <h3 class="text-2xl superhero-name">
                <%= heroe.nombreSuperheroe %>
            </h3>
            <p class="card-text">
                <%= heroe.nombreReal %> · <%= heroe.edad %> años
            </p>
        </div>
    </div>
    <!-- Card Info Contenedor -->
    <div class="space-y-3 text-sm">
        <!-- Planeta -->
        <div class="flex justify-between border-b border-neutral-800 pb-1">
            <span class="text-neutral-500 mr-3">Planeta</span>
            <span class="card-text">
                <%= heroe.planetaOrigen %>
            </span>
        </div>
        <!-- Debilidad -->
        <div class="flex justify-between border-b border-neutral-800 pb-1">
            <span class="text-neutral-500 mr-3">Debilidad</span>
            <span class="card-text">
                <%= heroe.debilidad %>
            </span>
        </div>
        <!-- Poderes -->
        <div>
            <p class="text-neutral-500 mb-1">Poderes</p>
            <div class="flex flex-wrap gap-2">
                <% heroe.poderes.forEach(poder=> { %>
                    <span class="tag tag-blue">
                        <%= poder %>
                    </span>
                <% }) %>
            </div>
        </div>
        <!-- Aliados -->
        <div>
            <p class="text-neutral-500 mb-1">Aliados</p>
            <div class="flex flex-wrap gap-2">
                <% heroe.aliados.forEach(aliado=> { %>
                    <span class="tag tag-green">
                        <%= aliado %>
                    </span>
                    <% }) %>
            </div>
        </div>
        <!-- Enemigos -->
        <div>
            <p class="text-neutral-500 mb-1">Enemigos</p>
            <div class="flex flex-wrap gap-2">
                <% heroe.enemigos.forEach(enemigo=> { %>
                    <span class="tag tag-red">
                        <%= enemigo %>
                    </span>
                    <% }) %>
            </div>
        </div>
        <!-- Creador -->
        <div class="flex justify-between border-t border-neutral-800 pt-2 mt-2">
            <span class="text-neutral-500">Creador</span>
            <span>
                <%= heroe.creador %>
            </span>
        </div>
    </div>
    <!-- Botones -->
    <div class="btn-row">
        <a href="/api/heroes/<%= heroe._id %>/editar" class="btn btn-primary w-full">
            Editar
        </a>
        <button onclick="eliminarSuperheroe('<%= heroe.id %>')" type="submit" class="btn btn-danger w-full">
            Eliminar
        </button>
    </div>
</div>

<script>
    async function eliminarSuperheroe(id) {
        const confirmar = confirm("¿Está suguro de eliminar este superhéroe? Esta acción no se puede deshacer.");

        if (confirmar) {
            try {
                const response = await fetch(`/api/heroes/${id}`, { method: "DELETE" });
                if (response.ok) {
                    window.location.reload();
                } else {
                    const error = await response.json();
                    console.error("Error al eliminar el superhéroe: ", error.message);
                    alert("No se pudo eliminar el superhéroe.");
                }
            } catch (error) {
                console.error("Error de conexión o de red: ", error);
                alert("Ocurrió un error inesperado.");
            }
        }
    }
</script>